.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .cards{
        margin: 10px 0px 10px 0px;
        padding: 0 20px 0 20px;
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;

        .card{
            padding-top:10px;
            flex: 0.4 1 auto;
            margin: 0 auto;
        }
    }

}
